extend layout.pug

block middle
    div(class="col-sm-8 text-left")
        h1 Create
        hr
        <input type="hidden" name="userid" value="">
        <p>
        <label>Name<br>
        <input type="text" name="createName" value="">
        </label>
        </p>
        <p>
        <label>Type<br>
        <select id="createUG">
        <option value="user">User</option>
        <option value="group">Group</option>
        </select>
        </p>
        <button type="button" onclick="alert('person added')">Create</button>
